# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio / MSBuild
.vs/
Debug/
Release/
x64/
ipch/
*.suo
*.user
*.aps
*.ilk
*.pdb
*.obj
*.exe
*.dll
*.lib

# OS Files
.DS_Store
Thumbs.db